{% from "/profile/macros/forms/persons.html.jinja" import resume_form_macro %}

{% block content %}

<div class="text-opacity-85 text-danger py-5 px-3"><h3>Создать</h3></div>
<div>{{ resume_form_macro(neeed_id = false) }}</div>

{% endblock %}