{% from "elements.html.jinja" import input_macro %}

{% macro logopass_macro() %}
<div class="mb-3">
  {{ input_macro("login", "Логин", "text", true) }}
</div>
<div class="input-group mb-3">
  {{ input_macro("password", "Пароль", "password", true) }}
  <button _="
    on click 
      if #password.type == 'text' 
        remove .bi-eye-slash from #eye 
        then add .bi-eye to #eye 
        then set #password.type to 'password' 
        then set #new_pswd.type to 'password' 
        then set #conf_pswd.type to 'password' 
      else 
        remove .bi-eye from #eye 
        then add .bi-eye-slash to #eye 
        then set #password.type to 'text' 
        then set #new_pswd.type to 'text' 
        then set #conf_pswd.type to 'text'
    end"
    class="btn btn-outline-secondary"
    type="button"
    tabindex="-1"
  >
    <i class="bi bi-eye" id="eye"></i>
  </button>
</div>
{% endmacro %} 