{% from "elements.html.jinja" import input_macro, btn_group_macro %}
{% from "/login/macro.html.jinja" import logopass_macro %}

<div class="text-opacity-85 text-primary p-3">
  <h3>Изменить пароль</h3>
</div>
<form 
  class="form form-check" 
  method="post" 
  action="{{ url_for('route.login', action='password') }}"
>
  {{ logopass_macro() }}
  <div class="mb-3">
    {{ input_macro("new_pswd", "Новый пароль", "password", true) }}
  </div>
  <div class="mb-3">
  {{ input_macro("conf_pswd", "Повтор пароля", "password", true) }}
  </div>
  <div class="mb-2">
    <button
      class="btn btn-link"
      hx-get="/auth/login"
      hx-trigger="click"
      hx-target="#login-content"
      hx-swap="innerHTML"
      tabindex="-1"
    >
      Отмена
    </button>
  </div>
  {{ btn_group_macro(offset="0") }}
</form>
