{% macro affilation_form_macro(id, affilation = {}, needs_id = true) %}

{% from "elements.html.jinja" import label_macro, input_macro, select_macro, btn_group_macro %}
{% set options = [
  "Являлся государственным/муниципальным служащим", 
  "Являлся государственным должностным лицом", 
  "Связанные лица работают в государственных организациях", 
  "Участвует в деятельности коммерческих организаций"
] %}

<form 
  class="form form-check" 
  hx-post="{{ url_for('route.post_item_id', item='affilations', item_id=id) }}"
  hx-target="#affilations"
  hx-trigger="submit"
  hx-swap="innerHTML"
>
  {% if needs_id %}
    {{ input_macro("id", "id", type="hidden", value=affilation['id']) }}
  {% endif %}

  {% call label_macro("Вид участия*") %}
    {{ select_macro("view", options, required=true, value=affilation['view']) }}
  {% endcall %}

  {% call label_macro("Организация*") %}
    {{ input_macro("organization", "Организация*", required=true, value=affilation['organization']) }}
  {% endcall %}

  {% call label_macro("ИНН*") %}
    {{ input_macro("inn", "ИНН", value=affilation['inn']) }}
  {% endcall %}

  {{ btn_group_macro(cancel = true, item = 'affilations', id = id) }}
</form>

{% endmacro %}
