{% macro inquiry_form_macro(id, inquiry = {}, needs_id = true) %}

{% from "elements.html.jinja" import label_macro, input_macro, textarea_macro, btn_group_macro %}

<form 
  class="form form-check" 
  hx-post="{{ url_for('route.post_item_id', item='inquiries', item_id=id) }}"
  hx-target="#inquiries"
  hx-trigger="submit"
  hx-swap="innerHTML"
>

  {% if needs_id %}
    {{ input_macro("id", "id", type="hidden", value=inquiry['id']) }}
  {% endif %}
  
  {% call label_macro("Информация") %}
  {{ textarea_macro("info", "Информация", inquiry['info']) }}
  {% endcall %}

  {% call label_macro("Инициатор") %}
  {{ textarea_macro("initiator", "Инициатор", inquiry['origins']) }}
  {% endcall %}

  {% call label_macro("Источник") %}
  {{ textarea_macro("origins", "Источник", inquiry['responsible']) }}
  {% endcall %}

  {{ btn_group_macro(cancel = true, item = 'inquiries', id = id) }}
</form>
{% endmacro %}
