{% from "elements.html.jinja" import input_macro %}
{% from "/profile/forms/file.html.jinja" import file_form_macro %}

<div class="text-opacity-85 text-danger py-5 px-3">
  <h3>Кандидаты</h3>
</div>
{% if session['user']['role'] == 'user' %}
<div class="position-relative">
  <div class="position-absolute bottom-0 end-0 px-3">
    <label
      for="json"  
      class="text-primary"
      style="cursor: pointer;"
    >
      Загрузить
      <i class="bi bi-filetype-json fs-5"></i>
    </label>
    <form 
      class="form form-check"
      hx-post="{{ url_for('route.post_file', item='anketa', item_id='0') }}"
      hx-trigger="change"
      hx-target="#staffsec"
      hx-swap="innerHTML"
      hx-encoding="multipart/form-data"
    >
      <input
        class="form-control form-control-sm d-none"
        name="json" 
        id="json"
        type="file"
        accept=".json"
        ref="file"
      />
    </form>
  </div>
</div>
{% endif %}
<div class="row mb-3">
  <form 
    hx-post="{{ url_for('route.route_personal', page=1) }}"
    hx-trigger="keyup delay:500ms"
    hx-target="#persons-table"
    hx-swap="innerHTML"
    class="form form-check" 
  >
    {{ input_macro("search", "Поиск по фамилии, имени, отчеству, дате рождения, инн") }}
  </form>
</div>
<div
  hx-post="{{ url_for('route.route_personal', page=1) }}"
  hx-trigger="load"
  hx-swap="innerHTML"
  hx-target="#persons-table"
  id="persons-table">
</div>
