{% from "profile/macros/forms/investigations.html.jinja" import investigation_form_macro %}

{% set id = id | default(0) %}
{% set investigation = item | default([]) %}
{{ investigation_form_macro(id, investigation) }}