{% from "profile/macros/divs/addresses.html.jinja" import address_div_macro %}

{% set id = id | default(0) %}
{% set addresses = items | default([]) %}
{{ address_div_macro(id, addresses = addresses) }}
