{% from "profile/macros/divs/workplaces.html.jinja" import work_div_macro %}

{% set id = id | default(0) %}
{% set workplaces = items | default([]) %}
{{ work_div_macro(id, workplaces = workplaces) }}
