{% macro poligraf_tab_macro(id, poligrafs = []) %}

{% from "elements.html.jinja" import label_macro %}
{% from "/profile/macro.html.jinja" import collapse_header_macro, action_group_macro %}
{% from "/profile/macros/forms/poligrafs.html.jinja" import poligraf_form_macro %}

{% if session['user']['role'] == 'user' %}
  {% call collapse_header_macro("poligraf-0") %}
    {{'Добавить запись'}}
  {% endcall %}
  <div class="collapse card card-body mb-3" id="poligraf-0">
    {{ poligraf_form_macro(id) }}
  </div>
{% endif %}

{% if poligrafs %}
  {% for poligraf in poligrafs %}
    <div  class="card card-body mb-3" id="{{'poligrafs-' + poligraf['id']|string}}">
      <p class="fs-5 fw-medium text-primary p-1">
        {{ "Проверка на полиграфе ID#" + (inquiry['id']|string) }}
      </p>
      {% call label_macro("Тема проверки'") %}
        {{ poligraf['theme'] }}
      {% endcall %}

      {% call label_macro("Результат'") %}
        {{ poligraf['results'] }}
      {% endcall %}

      {% call label_macro("Сотрудник'") %}
        {{ poligraf['username'] }}
      {% endcall %}

      {% call label_macro("Дата записи'") %}
        {{ poligraf['created'].strftime("%d.%m.%Y") }}
      {% endcall %}

      {% if session['user']['role'] == 'user' %}
        {{ action_group_macro("poligrafs", poligraf['id']|string, upload=true) }}
      {% endif %}
    </div>
  {% endfor %}
  
{% else %}
  <div class="text-primary mb-3">Информация не найдена</div>
{% endif %}

{% endmacro %}
