{% macro relation_div_macro(id, relations = []) %}

{% from "elements.html.jinja" import label_macro %}
{% from "/profile/macro.html.jinja" import collapse_header_macro, action_group_macro %}
{% from "/profile/macros/forms/relations.html.jinja" import relation_form_macro %}

{% if session['user']['role'] == 'user' %}
  {% call collapse_header_macro("relations-0") %}
    {{'Добавить связь'}}
  {% endcall %}
  <div class="collapse card card-body mb-3" id="relations-0">
    {{ relation_form_macro(id) }}
  </div>
{% endif %}

{% if relations %}
  {% for relation in relations %}
    <div  class="card card-body mb-3" id="{{'relations-' + relation['id']|string}}">
      {% call label_macro("Тип связи") %}
        {{ relation['relation'] }}
      {% endcall %}

      {% call label_macro("Связь") %}
        <a class="link-primary" href="/profile/{{ relation['relation_id'] }}">
          ID# {{ relation['relation_id'] }}
        </a>
      {% endcall %}

      {% if session['user']['role'] == 'user' %}
        {{ action_group_macro("relations", relation['id']|string) }}
      {% endif %}
    </div>
  {% endfor %}

{% else %}
  <div class="text-primary mb-3">Информация не найдена</div>
{% endif %}

{% endmacro %}
